In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Scaling
from sklearn.preprocessing import RobustScaler

# Train Test Split
from sklearn.model_selection import train_test_split

# Models
import torch
import torch.nn as nn
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier


# Metrics
from sklearn.metrics import accuracy_score, classification_report, roc_curve, confusion_matrix, f1_score, recall_score, roc_auc_score

# Cross Validation
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [2]:
heart= pd.read_csv('./heart.csv')
heart

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# creating a copy of df
df1 = heart.copy()

# dropping the target column
X = df1.drop(['output'], axis=1)
y = df1['output']  # Selecting just the target column

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
# instantiating the scaler
scaler = RobustScaler()

x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)
print(x_train)

[[-1.03846154  0.          0.         ...  1.          0.
   0.        ]
 [ 0.19230769  0.         -0.5        ...  1.          0.
   1.        ]
 [-0.73076923  0.          0.5        ...  0.          0.
   0.        ]
 ...
 [ 1.03846154  0.          1.         ...  0.          1.
   0.        ]
 [-0.73076923  0.         -0.5        ...  1.          0.
   1.        ]
 [ 0.57692308 -1.          0.         ...  1.          2.
   0.        ]]

In [8]:
model = LogisticRegression()
model.fit(x_train, y_train)
predicted = model.predict(x_test)

print("Logistic Regression accuracy: ", accuracy_score(y_test, predicted) * 100, "%")

Logistic Regression accuracy:  85.24590163934425 %

In [10]:
import joblib

# Serialize the model to a file
joblib.dump(model, 'heart_attack_model2.joblib')

['heart_attack_model2.joblib']

In [16]:
heart

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [20]:
model = joblib.load('C:/Users/shree/Documents/Disease/heart_attack_model2.joblib')

data_to_predict = [20, 0, 0, 120, 241, 0, 1, 123, 1, 0.2, 1, 0, 3]

scaler = RobustScaler()
scaled_combined = scaler.fit_transform([data_to_predict])
# Reshape scaled_combined into a 2D array with a single row
scaled_combined_2d = scaled_combined.reshape(1, -1)

# Make prediction
prediction = model.predict(scaled_combined_2d)
print(prediction)

[1]